<script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.5.0/EQCSS-polyfills.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/eqcss/1.5.0/EQCSS.min.js"></script>

<link href="//fonts.googleapis.com/css?family=Fira+Sans:300,400,500,700,300italic,400italic,500italic,700italic"
      rel="stylesheet"/>
<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic"
      rel="stylesheet"/>
<link href="//fonts.googleapis.com/css?family=Source+Code+Pro:300,400,500,600,700,900" rel="stylesheet"/>

<style>
    /* Flashlight Overlay */
    :root {
        cursor: none;
        --cursorX: 50vw;
        --cursorY: 50vh;
    }

    :root:before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: fixed;
        pointer-events: none;
        background: radial-gradient(
                circle 10vmax at var(--cursorX) var(--cursorY),
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, .5) 80%,
                rgba(0, 0, 0, .95) 100%
        )
    }


    #title-404 {
        text-align: center;
        font-size: 120px;
    }

    h3 {
        text-align: center;
        font-size: 50px;
    }

    body {
        background-image: url("./public/img/404_Backgroud.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>

<div>
    <h1 id="title-404">404</h1>
    <h3>Oh, we can't find this page either...</h3>
</div>

<script>
    function update(e) {
        var x = e.clientX || e.touches[0].clientX
        var y = e.clientY || e.touches[0].clientY

        document.documentElement.style.setProperty('--cursorX', x + 'px')
        document.documentElement.style.setProperty('--cursorY', y + 'px')
    }

    document.addEventListener('mousemove', update)
    document.addEventListener('touchmove', update)
</script>
