<body style="overflow: hidden;">
  <img  
      src="./public/img/stock_foto_guitars.jpeg"
     alt=""
          style=" position: absolute;  height: 100%; width: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;" >
</img>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 mt-5 col-xl-6 h-100">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Maak een account aan</h2>
              <!-- <h2 class="text-uppercase text-center mb-5">Inloggen met een bestaand account</h2> -->
              <!-- action="../../controllers/login/login.php" method="post" -->
              <form  >

                <div class="form-outline mb-4">
                  <label class="form-label" for="form_name">Uw naam</label>
                  <input type="text" id="form_name" class="form-control form-control-lg" name="form_name" required/>
 
                  
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form_email">Emailadres</label>

                  <input type="email" id="form_email" class="form-control form-control-lg" name="form_email" required />
                </div>

                <div class="form-outline mb-4 ">
                  <label class="form-label" for="form_password">Wachtwoord</label>
                    <div class="d-flex justify-content-between ">    
                      <input type="password" id="form_password" class="form-control form-control-lg" name="form_password" required />
                      <em class="far fa-eye d-flex  justify-content-center align-self-center rounded-right" id="togglePassword" style=" line-height: 0;margin-left: -50px; cursor: pointer; background-color: gray; width:50px;"></em>
                    </div>
             
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="form_control_password">Herhaal het wachtwoord</label>

                  <input type="password" id="form_control_password" class="form-control form-control-lg" name="form_control_password" required />
                </div>


                <div class="d-flex justify-content-center">
                  <button type="button"
                      
                   class="btn  btn-block btn-lg gradient-custom-4 text-body" id="submit-btn"style="background-color: firebrick; ;">Registreren</button>
                </div>
                <p class="text-center text-muted mt-5 mb-0">Heeft u al een account <a href="./login"
                    class="fw-bold text-body"><u>Inloggen</u></a></p>

              </form>
              


              <!-- <form>
                <div class="form-outline mb-4">
                    <input type="email" id="form_email" class="form-control form-control-lg" />
                    <label class="form-label" for="form_email">Emailadres</label>
                  </div>
    
                  <div class="form-outline mb-4">
                    <input type="password" id="form_password" class="form-control form-control-lg" />
                    <label class="form-label" for="form_password">Wachtwoord</label>
                  </div>
                  <div class="d-flex justify-content-center">
                    <button type="button"
                    onclick="login()"                 class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Inloggen</button>
                  </div>
  
                  <p class="text-center text-muted mt-5 mb-0">Heeft u nog geen account? Klik dan hier om te registeren <a href="#!"
                      class="fw-bold text-body"><u>Registeren</u></a></p>
  
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="./public/js/main.js"></script>




</body>
</html>