<script type="text/javascript">
    window.onload = () => {
        preFillSearchField();
        generateProductList();
    }

    function preFillSearchField() {
        if (search) {
            document.getElementById('search-field').value = search;
        }
    }

    function generateProductList() {
        const productListEL = document.getElementById('productList');
        if (products.length === 0) {
            productListEL.innerHTML = '<span>Geen producten gevonden.</span>';
            return;
        }

        let productList = '';
        products.forEach((product) => {
            productList += `
                <div class='card mb-3 overflow-hidden shadow-sm'>
                    <div id='top-bar-${product.id}' class='card-header row p-0'>
                        <div class='col-1 p-0'>
                            <img class='product-image rounded-start' src='${product.image ?? './public/img/products/placeholder.png'}' alt='Productfoto'>
                        </div>
                        <div id='title-bar-${product.id}' class='col-11 d-flex justify-content-between align-items-center px-4'>
                            <h4 class="">${product.name}</h4>
                            <div class="btn-group">
                                <button
                                    id='edit-button-${product.id}'
                                    class='btn btn-success border-light border-top-0 border-left-0 border-bottom-0'
                                    type='button'
                                    onclick='toggleProductEditForm(${JSON.stringify(product)})'
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                    </svg>
                                    Wijzigen
                                </button>
                                <button
                                    class='btn btn-success border-light border-top-0 border-right-0 border-bottom-0'
                                    type='button'
                                    onclick='deleteProduct(${product.id})'
                                >
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                    </svg>
                                    Verwijderen
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id='form-${product.id}' class='row d-none offset-1 p-3'></div>
                </div>
            `;
        });
        productListEL.innerHTML = productList;
    }

    function openPage(page) { window.location.href = page }

    function toggleProductEditForm(product) {
        document.getElementById(`edit-button-${product.id}`).classList.toggle('active');
        const productFormEl = document.getElementById(`form-${product.id}`);
        productFormEl.classList.toggle('d-none');
        document.getElementById(`top-bar-${product.id}`).classList.toggle('shadow-sm');

        productFormEl.innerHTML = `
            <form action='./update-product' method='post'>
                <div class='form-group row'>
                    <label for='name-input' class='col-2 col-form-label'>Productnaam</label>
                    <div class='col-8'>
                      <input type='text' class='form-control' id='name-input' placeholder='Productnaam' name='name' value='${product.name}'>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="select" class="col-4 col-form-label">Merk</label>
                    <div class="col-8">
                      <select id="select" name="category" class="custom-select">
                        <option>Merk</option>
                        <option value="duck">Duck</option>
                        <option value="fish">Fish</option>
                      </select>
                    </div>

                    <label for="select" class="col-4 col-form-label">Categorie</label>
                    <div class="col-8">
                      <select id="select" name="category" class="custom-select">
                        <option>Categorie</option>
                        <option value="duck">Duck</option>
                        <option value="fish">Fish</option>
                      </select>
                    </div>
                </div>
            </form>
        `;
    }

    function deleteProduct(productId) {
        if(confirm('Weet je zeker dat je dit product wilt verwijderen?')) {
            window.location.href = `./delete-product?id=${productId}`
        }
    }
</script>


<body>
    <div class="product-management__actions container d-flex justify-content-between mb-3 mt-5">
        <a class="text-black" style="text-decoration: none" href="./product-management">
            <h3>Productbeheer</h3>
        </a>
        <form class="actions__search-product input-group" action="./product-management" method="get">
            <input id="search-field" class="actions__search-product-input form-control" type="text" name="search" placeholder="Zoeken" aria-label="search">
            <button class="btn btn-success" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                </svg>
            </button>
        </form>
        <button type="button" class="actions__add-product btn btn-success" onclick="openPage('./add-product')">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
            </svg>
           Product toevoegen
        </button>
    </div>

    <div class="container">
        <hr>
        <!-- generated by javascript -->
        <div id="productList"></div>
    </div>
</body>


<style>
    .product-image {
        max-height: 5rem;
    }
    .actions__search-product {
        width: 24rem;
    }
    .actions__search-product-input:focus {
        box-shadow: none;
        border-color: #198754;
    }
</style>

